html {
  font-size: 1px;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  background-color: #eee;
}

.main {
  height: 410rem;
  width: 410rem;
  background-color: #333;
  box-sizing: content-box;
  border: 15rem solid #333;
  border-radius: 50%;
  text-align: center;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.info {
  height: 220rem;
  width: 220rem;
  background-color: #eee;
  border-radius: 50%;
  text-align: center;
  border: 10rem solid #333;
}

.box {
  height: 200rem;
  width: 200rem;
  display: inline-block;
}

.top-left {
  background-color: #4caf50;
  opacity: 1;
  border-top-left-radius: 100%;
  margin: 0 3rem 3rem 0;
}

.top-right {
  background-color: #f44336;
  border-top-right-radius: 100%;
  margin: 0 0 3rem 3rem;
}

.bottom-left {
  background-color: #ffeb3b;
  border-bottom-left-radius: 100%;
  margin: 3rem 3rem 0 0;
}

.bottom-right {
  background-color: #2196f3;
  border-bottom-right-radius: 100%;
  margin: 3rem 0 0 3rem;
}

/* Flashing colors: #00e676 #FF8A80 #FFFF00 #80D8ff */

/* Widgets */

.display {
  margin: auto;
  text-align: center;
}

.led {
  height: 30rem;
  width: 150rem;
  font-size: 15rem;
  color: white;
  background-color: #32050c;
  border: 4px solid #222;
  border-radius: 10px;
  display: inline-block;
  margin-top: 40rem;
  text-transform: uppercase;
}

.button {
  height: 25rem;
  width: 25rem;
  border-radius: 50%;
  border: 4px solid #333;
  margin: 25rem 25rem 0 25rem;
  cursor: pointer;
  box-shadow: 0px 2px 3px #222;
}

.start {
  background-color: red;
}

.strict {
  background-color: yellow;
}

.inline {
  display: inline-block;
}

.label {
  margin-left: 35rem;
  text-transform: uppercase;
}
